* {
    margin: 0px;
    padding: 0px;
}

header {
    min-height: 2.8em;
    padding: 1em;
    background-color: darkolivegreen;
}

header h1 {
    color: beige;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
}

body {
    background-color: beige;
}

body p {
    margin: 1em;
}

article {
    display: block;
    width: 80%;
    margin: 2em auto;
    padding: 0.5em;
    background-color: lightgray;
    border-radius: 0.3em;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

code {
    display: block;
    background-color: darkslateblue;
    margin: 0.3em;
    padding: 0.3em;
    font-weight: bold;
    color: orange;
    border-radius: 0.2em;
}